body {
    background-color: darkblue;
    text-align: center;
    font-family: 'Bentham', serif;
  }
 		
#main {
 	color: white;
}

.well {
    background-color: #96C1ED !important;
    color: black;
    }
 
.jumbotron {
  position: relative;
  font-family: 'Poller One', cursive, serif;
  /* add bootstrap jumbotron image */
  background: url("../images/Scales-of-Justice-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 	background-size: cover;
  background-position: center;
  /* change bootstrap jumbotron test color */
  color: white !important;
  background-color: darkblue !important;

}
 
.footer {
	color: white;
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

#recentSearches {
	float: right;
}
