html {
  position: relative;
  min-height: 100%
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background-color: #6980F1;*/
  background-color: #2b3e50;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
}
 
#main {
 	color: white;
  font-size: 20px !important;
  padding-top: 15px;
  padding-bottom: 20px;
}

#main p {
  text-align: left;
}

#popSearchesTitle {
  font-family: 'Amaranth', sans-serif;
}

.well {
  background-color: #96C1ED !important;
  color: black;
  font-family: 'Amaranth', sans-serif;
}
 
.jumbotron {
  position: relative;
  font-family: 'Poller One', cursive, serif;
  /* add bootstrap jumbotron image */
  background: url("../images/Scales-of-Justice-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* change bootstrap jumbotron test color */
  color: white !important;
  background-color: darkblue !important;
  margin-bottom: 5px;
}

#recentSearches {
/*  float: right;*/
  font-family: 'Bentham', serif;
}

#recentSearches li {
  font-size: 16px;
}

footer {
  /*sticky footer*/
	color: white;
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

td {
  text-align: left;
  padding: 5px;
}

th {
  text-align: left;
}

tr {
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  border-radius: 8px;
  padding: 2px;
}

#result {
  visibility: hidden;
  text-align: center;
}

#result p {
  text-align: left;
}
