body {
	background-color: #333;
	text-align: center;
}
#main {
	color: white;
}

.footer {
	color: white;
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.jumbotron {
	position: relative;
	/* add bootstrap jumbotron image */
	background: url("../images/Scales-of-Justice-01.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	/* change bootstrap jumbotron test color */
	color: white !important;
	background-color: darkblue !important;
	margin-bottom:0;
}
		/*
.navbar {
     background-image: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5);
     background-repeat: no-repeat;
     border-bottom: 1px solid #178ACC;
     box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
     border-radius: 0px;
}*/

#recentSearches {
	float: right;
}

#result {

}
